<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = (${theme.config.general.language == 'en' ? 'Tags' : '标签'}) + ' - ' + ${site.title}, content = ~{::content}, head = null, footer = null, sidebar = null, contentClass = '', isPostPage = false)}"
>
  <th:block th:fragment="content">
    <!-- Decorative Line -->
    <div class="uno-decorative-line"></div>

    <!-- Tag List (flowing text) -->
    <div class="no-heti tag-flow">
      <span class="tag-flow-inner">
        <a th:each="tag : ${tags}" th:href="@{${tag.status.permalink}}" th:text="${tag.spec.displayName}"></a>
      </span>
    </div>
  </th:block>
</html>
